<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
  
    <div class="actions">
      <%= form.submit "Log in" %>
    </div>

  <% end %>