

<section class="show-container">
  <section class="img-section">

  <div class="top-detail">
      <div> 
        <p class="show category-name" ><%= @article.category.name %></p>
        <p><%= @article.title %></p>
      </div>

      <div class="btns">
          <div class="vote">
            <span><%= vote_unvote(@article) %><%= @article.votes.count %></span> s
      </div>

          <div class="bookmark">
            <span><%= bookmark(@article) %></span> 
          </div>
      </div>

  </div>

  <div class="time-posted">
    <small>Published by <%= @article.author.name %> </small>
    <small>posted <%= time_ago_in_words(@article.created_at) %> ago </small>
    <div class="ed-dl"> <%= show_edit_delete %> </div>
  </div>
  
  <div class="img-wrapper">
    <div class="img_div">
    <% if @article.image.attached? %>
    <%= image_tag @article.image %>
    <% end %>
    </div>

    

    <p> <%= @article.text %> </p>
    <section class="comment-setion">
      <div class="comment-count"> <%= pluralize(@article.comments.count, "comment") %> </div>
      <%= render @article.comments %>
      <%= render partial: 'comments/form' %>
      </section>

  </div>

</section>


</section>

