<div class="form-body">
<h3 class="title">Admin create new category</h3>
<%= form_with(model: category) do |form| %>
  <%= new_form_error(@category) %>
  <div class="field">
    <%= form.text_field :name, placeholder:"Enter category name"%>
  </div>

  <div class="field">
    <%= form.number_field :priority, placeholder:"How important is this one"%>
  </div>

  <div class="actions">
    <%= form.submit "Save Category", class:"submit"%>
  </div>
<% end %>

</div>
