<nav>
  <div>
    <%= link_to "YoLLoo", root_path, class:"navbar-brand"%>
    <%= link_to "Write Article", new_article_path%>
  </div>
  
  <div>
      <%= nav_category %>
  </div>

  <div>
    <span><%= show_sign_in %></span> 
    <span><%= show_sign_up %></span>
    <span><%= show_sign_out %></span>
  </div>

</nav>